<!DOCTYPE html>
<html>
<head>
<title>LexisNexis Chatbot</title>
 <LINK href="../static/chatcss.css" rel="stylesheet" type="text/css">
     <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/chatData.js"></script>
</head>
<body>
	<table border="2">
	 <tr>
  	   <th>
		 <img src="../static/lexis.jpg" width=490px height=450px>
	   </th>
 	   <th align="left">
		 
			<img  src="../static/chat.jpg" width="490" height="450">

<div id="chatWindow">
</div>
<div id="main">
	<div><input id="inputChat" name="inputChat" type="text" placeholder="say anything..." autocomplete="off"/></div>
</div>
	</th>
	</tr>
	</table>
	

</body>
</html>